<h1 class="text-black">Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  Email logado: <%= current_user.email %>
<% else %>
  <p>Você não está logado!!</p>
<% end %>